html,
body,
#root {
  @apply h-fit min-h-dvh overflow-x-hidden;
}

#root {
  @apply flex flex-grow flex-col text-gray-800;
  background: linear-gradient(
    135deg,
    theme('colors.sky.50') 0%,
    theme('colors.green.50') 100%
  );
}

@keyframes icon-animate {
  0%,100% {
      transform: scale(1)
  }

  10%,30% {
      transform: scale(.9)
  }

  20%,40%,60%,80% {
      transform: scale(1.1)
  }

  50%,70% {
      transform: scale(1.1)
  }
}
